In [4]:
import pandas as pd
#pd.set_option("display.max_columns", 19)

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

def fips_glue(row):
    x = float(str(row['STATE']) + str(row['COUNTY']).zfill(3))
    return x

def pop_mortality(row):
    x = float("{:.4f}".format(row['Deaths'] / row['POPESTIMATE2019']* 100)) 
    return x

def case_mortality(row):
    x = float("{:.4f}".format(row['Deaths'] / row['Confirmed']* 100)) 
    return x

cvd_data = pd.read_csv("../COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/04-04-2020.csv")
cvd_df = pd.DataFrame(cvd_data, columns = ['FIPS', 'Admin2', 'Province_State', 'Confirmed', 'Deaths'])


dem_data = pd.read_csv("./data/CO-EST2019-alldata.csv")
#dem_df = pd.DataFrame(dem_data, columns = ['SUMLEV', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME', 'POPESTIMATE2019','DEATHS2019'])
dem_df = pd.DataFrame(dem_data, columns = [ 'STATE', 'COUNTY', 'POPESTIMATE2019','DEATHS2019'])
dem_df['FIPS'] = dem_df.apply(fips_glue, axis = 1)
dem_query = dem_df.query("FIPS=='19049'")
#print(dem_query)

df3 = pd.merge(dem_df,cvd_df, on='FIPS')
df3['TPOP_MORTALITY'] = df3.apply(pop_mortality, axis = 1)
df3['CASE_MORTALITY'] = df3.apply(case_mortality, axis = 1)
df3.sort_values(by=['TPOP_MORTALITY'], ascending=False, inplace=True)
#print(dir(df3))
display(df3.head(20))

,STATE,COUNTY,POPESTIMATE2019,DEATHS2019,FIPS,Admin2,Province_State,Confirmed,Deaths,TPOP_MORTALITY,CASE_MORTALITY
1392,36,61,1628706,12171,36061.0,New York City,New York,63306,1905,0.1170,3.0092
1272,30,101,4736,44,30101.0,Toole,Montana,12,3,0.0633,25.0000
906,22,95,42837,421,22095.0,St. John the Baptist,Louisiana,338,23,0.0537,6.8047
2035,48,359,2112,12,48359.0,Oldham,Texas,2,1,0.0473,50.0000
894,22,71,390144,3640,22071.0,Orleans,Louisiana,3966,153,0.0392,3.8578
1171,28,157,8630,122,28157.0,Wilkinson,Mississippi,25,3,0.0348,12.0000
371,13,95,87956,951,13095.0,Dougherty,Georgia,636,30,0.0341,4.7170
330,13,7,3038,22,13007.0,Baker,Georgia,4,1,0.0329,25.0000
905,22,93,21096,226,22093.0,St. James,Louisiana,150,6,0.0284,4.0000
407,13,177,29992,245,13177.0,Lee,Georgia,128,8,0.0267,6.2500
596,18,47,22758,211,18047.0,Franklin,Indiana,50,6,0.0264,12.0000
450,13,273,8531,115,13273.0,Terrell,Georgia,52,2,0.0234,3.8462
903,22,89,53100,446,22089.0,St. Charles,Louisiana,252,12,0.0226,4.7619
885,22,51,432493,4345,22051.0,Jefferson,Louisiana,3008,95,0.0220,3.1582
1403,36,87,325789,2457,36087.0,Rockland,New York,4872,69,0.0212,1.4163
1328,34,13,798975,6457,34013.0,Essex,New Jersey,3584,155,0.0194,4.3248
1323,34,3,932202,7248,34003.0,Bergen,New Jersey,5760,179,0.0192,3.1076
8,1,17,33254,441,1017.0,Chambers,Alabama,87,6,0.0180,6.8966
2306,55,51,5687,91,55051.0,Iron,Wisconsin,1,1,0.0176,100.0000
1634,40,55,5712,54,40055.0,Greer,Oklahoma,6,1,0.0175,16.6667